*.vs/
*.db
*.exe
*.ilk
*.pdb
*.user
*.db
*.exe
*.ilk
*.pdb
*.obj
*.log
*.tlog
*.recipe
*.txt
*.idb
.\vs\HugoLand\v16\.suo
.\TP01_Library\obj\Debug
.\TP01_Tests\obj\Debug
.\TP01_Library\bin\Debug
.\TP01_Tests\bin\Debug
HugoLand\.vs\HugoLand\v16\.suo
*.cache
~\.vs
~\packages
~\*\bin
~\*\obj
HugoLand/TP01_Library/bin/Debug/TP01_Library.dll.config
HugoLand/TP01_Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
*.dll
*.xml
*.ssdl
*.msl
*.csdl
HugoLand/TP01_Library/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
*.mdf
*.CopyComplete
HugoLand/TP01_Tests/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
