*.vs/
*.db
*.exe
*.ilk
*.pdb
*.user
*.db
*.exe
*.ilk
*.pdb
*.obj
*.log
*.tlog
*.recipe
*.txt
*.idb
.vs/HugoLand/v16/.suo
.TP01_Library\obj\Debug
.TP01_Tests\obj\Debug
.TP01_Library\bin\Debug
.TP01_Tests\bin\Debug
